/*
Item Name : Universal Mega Menu
Item URI : http://codecanyon.net/item/universal-responsive-mega-menu/4984236
Author URI : http://codecanyon.net/user/Pixelworkshop/
Version : 1.05
*/

/*

TABLE OF CONTENTS

00 PAGE STYLING (REMOVABLE)
01 MENU BAR
   1. Mega Menu Bar
   2. Mega Menu Trigger Button
02 DROP DOWNS
	1. Common Styling
	2. Footer
	3. Drop Down Containers
03 COLUMNS GRID
04 MULTILEVEL DROP DOWN
05 CONTENT & TYPOGRAPHY
   1. Basic Typography 
   2. Lists
   3. Other Styling
   4. Inline Images
   5. Icons
   6. Form Elements
06 DROP DOWN TABS
07 MOBILE DEVICES
08 RETINA DISPLAYS

*/



/*  _______________________________________

	00 PAGE STYLING (REMOVABLE)
    _______________________________________  */





/*  _______________________________________

    01 MENU BAR
    _______________________________________  */




/* 
  If you have several menus on the same page, you can here 
  define some properties separately for each of them
  by using their respective ID.
*/

#mgmenu1 {
	z-index: 12;
}
#mgmenu2 {
	margin-top: 12px;
	z-index: 11;
}


/* 1. Mega Menu Bar */

.mgmenu_container,
.mgmenu_fixed,
.mgmenu_footer {
	width:100%;
	/*min-height: 41px;*/
	z-index:10;
	max-width: inherit;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC45OSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5NyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC40OCIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4zMiIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 2%, rgba(255,255,255,0.99) 3%, rgba(255,255,255,0.48) 97%, rgba(255,255,255,0.32) 98%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(2%,rgba(255,255,255,1)), color-stop(3%,rgba(255,255,255,0.99)), color-stop(97%,rgba(255,255,255,0.48)), color-stop(98%,rgba(255,255,255,0.32)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 2%,rgba(255,255,255,0.99) 3%,rgba(255,255,255,0.48) 97%,rgba(255,255,255,0.32) 98%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 2%,rgba(255,255,255,0.99) 3%,rgba(255,255,255,0.48) 97%,rgba(255,255,255,0.32) 98%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */

background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 2%,rgba(255,255,255,0.99) 3%,rgba(255,255,255,0.48) 97%,rgba(255,255,255,0.32) 98%,rgba(255,255,255,0) 100%); /* W3C */
box-shadow: 0 1px 1px #B5B5B5;
background-color:#ccc; border: none;
border-radius:0px;-webkit-border-radius:0px;-moz-border-radius:0px; margin-bottom:0px; -webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.25); box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.25), 0 -3px 0px 0 rgba(0, 0, 0, 0.09) inset; padding-bottom:3px;
}
.mgmenu_container {
	position:relative;
	margin:0 auto;
}
.mgmenu_fixed,
.mgmenu_footer {
    width: inherit;
    max-width: inherit;
    position:fixed;
	top:0;
    /* IE7 Fix */
    *width:expression(this.parentNode.currentStyle['width']);
}
.mgmenu_footer {
	top: auto;
	bottom:0;
}
ul.mgmenu li span a i {padding-left: 10px;}

/* icons */
.icomoon-arrow-right-3 {
    float: right;
}

.icomoon-grid {
    padding-right: 10px;
    font-size: 16px;
}

.icomoon-arrow-down-2.visible-xs {float: right;}


.mgmenu {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	list-style:none;
	padding:0 15px;
	margin:0 auto;
	position:relative; /* For IE7 */
	line-height:1;
}

.mgmenu > li {
	float: left;
	margin: 0;	
	-webkit-transition:background .3s;
	-moz-transition:background .3s;
	-o-transition:background .3s;
	-ms-transition:background .3s;
	transition:background .3s; 
	border-left: 1px solid #EFEFEF;
	border-right: 1px solid #DDDDDD;   
	border-top: #fff solid 3px;
	}
	
.mgmenu > li:nth-child(2) { border-left-color: #DDDDDD; }



		.mgmenu > li:hover,
		.mgmenu > li.active,
		.mgmenu > li.current {
			border-top: 3px solid #2376DE;
			background:#fff;
		}

		.mgmenu > li.active :hover {border-top: none !important;}

		.mgmenu li.noactive {
			background:none;

		}


		.mgmenu > li > a,
		.mgmenu > li > span {

		display: block;
		font-family: Arial;
		font-weight:bold;
		font-size: 12px;
		text-shadow: 1px 1px 0 rgba(255,255,255,0.9);
		padding: 18px 10px 19px 16px; 
		text-transform:uppercase;
		color: #5a5d62;
		outline:0;
		}
		.mgmenu > li > span:hover,
		.mgmenu > li > a:hover,
		.mgmenu > li > a:focus,
		.mgmenu > li.current > a,
		.mgmenu > li.current > span {
			cursor:pointer;
			background: #fff!important;
			outline:none;
			text-shadow:none;
		
		}
		.mgmenu > li .mgmenu_drop {
			/*background-image:url("../img/mgmenu/downArrow.png");*/
			background-repeat: no-repeat;
			background-position:right 19px;
			padding-right:20px;
		}
		.mgmenu_footer .mgmenu > li .mgmenu_drop {
			/*background-image:url("../img/mgmenu/upArrow.png");*/
		}
		.mgmenu > li.right_item {
			float:right;
			margin-right:0;
		}
		.mgmenu_container > .mgmenu > li.mgmenu_button,
		.mgmenu_fixed > .mgmenu > li.mgmenu_button,
		.mgmenu_footer > .mgmenu > li.mgmenu_button {
			display: none;
			cursor: pointer;
			-webkit-transition: none;
			-moz-transition: none;
			-o-transition: none;
			-ms-transition: none;
			transition: none;
		
			background-color:#292929;
			border: none;
			box-shadow: none;
			font-size: 16px;
			font-family: 'Open Sans',sans-serif;
			line-height:12px;
			 padding: 26px 4% 38px;
			color:#efefef;
			
		}

		.mgmenu_container > .mgmenu > li.mgmenu_button_active,
		.mgmenu_fixed > .mgmenu > li.mgmenu_button_active,
		.mgmenu_footer > .mgmenu > li.mgmenu_button_active {
			background-color:#000000;
		}

		.mgm_button_text {float: left;}
/* 2. Mega Menu Trigger Button */

.mgmenu_trigger {
	position: fixed;
	z-index:2;
	margin:0 auto;
	right:0;
	margin-right: 20px;
	width:35px;
	height:41px;
	display: block;
}
.mgmenu_trigger {
/*	top: 0; 
	background-image:url("../img/mgmenu/button_up.png");
	background-position:center center;
	background-repeat:no-repeat;
	background-color: #121212;*/
}
.mgmenu_trigger.active {
	/*background-image:url("../img/mgmenu/mgmenu/button_down.png");*/
}
.mgmenu_footer ~ .mgmenu_trigger {
	top:auto;
	bottom: 0; 
	/*background-image:url("../img/mgmenu/mgmenu/button_down.png");*/
}
.mgmenu_footer ~ .mgmenu_trigger.active {
	/*background-image:url("../img/mgmenu/mgmenu/button_up.png");*/
}




/*  _______________________________________

    02 DROP DOWNS
    _______________________________________  */




/* 1. Common Styling */


.mgmenu li .dropdown_container,
.mgmenu li .dropdown_fullwidth,
.mgmenu li .mgmenu_multilevel {
	position:absolute;
	top:auto;
	display: none;
	float:left;
	zoom:1;
	z-index: 10;
	margin:0px 0 40px -1px;
	padding:4px 0 2px 0;
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.05);
	-o-box-shadow: 0 2px 2px rgba(0,0,0,0.05);
	box-shadow: 0 2px 2px rgba(0,0,0,0.05);
	border:1px solid #CCCCCC;
	border-top:none;
	color: #212121;
	background-color: #FFFFFF;
    border-top: 3px solid #2376DE;
}
.mgmenu li .dropdown_container {
	left:auto;
}
.mgmenu li .dropdown_fullwidth {
	left:0;
}
.mgmenu li.right_item .dropdown_container {
	left:auto;
	right:-1px;
}


/* 2. Footer */


.mgmenu_footer .mgmenu > li .dropdown_container,
.mgmenu_footer .mgmenu > li .dropdown_fullwidth,
.mgmenu_footer .mgmenu > li .mgmenu_multilevel {
	margin:0 0 0 -1px;
	top:auto;
	bottom:0;
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	-webkit-box-shadow: 0 -2px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 -2px 2px rgba(0,0,0,0.05);
	-o-box-shadow: 0 -2px 2px rgba(0,0,0,0.05);
	box-shadow: 0 -2px 2px rgba(0,0,0,0.05);
	border:1px solid #CCCCCC;
	border-bottom:none;
}


.mgmenu > li:hover .dropdown_container,
.mgmenu > li:hover .dropdown_fullwidth,
.mgmenu > li.right_item:hover .dropdown_container {
	display: block;
}


/* 3. Drop Down Containers */


.mgmenu li .dropdown_1column {
	width: 8.3334%;
	padding-left: 2%;
	padding-right: 2%;
}
.mgmenu li .dropdown_2columns {
	width: 16.6667%;
/*	padding-left: 1.8333%;
	padding-right: 1.8333%;*/
}
.mgmenu li .dropdown_3columns {
	width: 25%;
	padding-left: 1.5%;
	padding-right: 1.5%;
}
.mgmenu li .dropdown_4columns {
	width: 33.3334%;
	padding-left: 1.333%;
	padding-right: 1.333%;
}
.mgmenu li .dropdown_5columns {
	width: 41.6667%;
	padding-left: 1.166%;
	padding-right: 1.166%;
}
.mgmenu li .dropdown_6columns {
	width: 50%;
	padding-left: 1%;
	padding-right: 1%;
}
.mgmenu li .dropdown_7columns {
	width: 58.3334%;
	padding-left: 0.833%;
	padding-right: 0.833%;
}
.mgmenu li .dropdown_8columns {
	width: 66.6667%;
	padding-left: 0.666%;
	padding-right: 0.666%;
}
.mgmenu li .dropdown_9columns {
	width: 75%;
	padding-left: 0.5%;
	padding-right: 0.5%;
}
.mgmenu li .dropdown_10columns {
	width: 83.3334%;
	padding-left: 0.333%;
	padding-right: 0.333%;
}
.mgmenu li .dropdown_11columns {
	width: 91.6667%;
	padding-left: 0.1666%;
	padding-right: 0.1666%;
}
.mgmenu li .dropdown_fullwidth {
	width: 100%;
}




/*  _______________________________________

    03 COLUMNS GRID
    _______________________________________  */




.mgmenu .col_1,
.mgmenu .col_2,
.mgmenu .col_3,
.mgmenu .col_4,
.mgmenu .col_5,
.mgmenu .col_6,
.mgmenu .col_7,
.mgmenu .col_8,
.mgmenu .col_9,
.mgmenu .col_10,
.mgmenu .col_11,
.mgmenu .col_12 {
	float: left;
	display:inline;
	position: relative;
	padding-left: 2%;
	padding-right: 2%;
	/* 
	Rounding error with IE7.
	Lower margin values will absorb the difference.
	*/
	*padding-left: 1.9%;
	*padding-right: 1.9%;
}
.mgmenu .col_1 {width:4.33%;}
.mgmenu .col_2 {width:12.66%;}
.mgmenu .col_3 {width:21%;}
.mgmenu .col_4 {width:29.33%;}
.mgmenu .col_5 {width:37.66%;}
.mgmenu .col_6 {width:46%;}
.mgmenu .col_7 {width:54.33%;}
.mgmenu .col_8 {width:62.66%;}
.mgmenu .col_9 {width:71%;}
.mgmenu .col_10 {width:79.33%;}
.mgmenu .col_11 {width:87.66%;}
.mgmenu .col_12 {width:96%;}

.mgmenu .clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 18px;
}
.mgmenu .col_border {
	-webkit-box-shadow: -1px 0 0 rgba(0,0,0,0.15);
	-moz-box-shadow: -1px 0 0 rgba(0,0,0,0.15);
	-o-box-shadow: -1px 0 0 rgba(0,0,0,0.15);
	box-shadow: -1px 0 0 rgba(0,0,0,0.15);
}



/*  _______________________________________________

    04 MULTILEVEL DROP DOWN
    _______________________________________________  */




.mgmenu .dropdown_flyout, 
.mgmenu .dropdown_flyout .dropdown_flyout_level {
	padding: 0;
	margin: 0;
	list-style: none;
	z-index: 9;
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;

 
}
.mgmenu .dropdown_flyout .dropdown_flyout_level {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.05);
	-o-box-shadow: 0 2px 2px rgba(0,0,0,0.05);
	box-shadow: 0 2px 2px rgba(0,0,0,0.05);
	border:1px solid #CCCCCC;
	background: #fff;
	border-top: #2376DE 3px solid;


}
.mgmenu .dropdown_flyout .dropdown_flyout_level li{
 border-bottom: 1px solid #EFEFEF;
padding: 0px;
}

.mgmenu .dropdown_flyout li {
	float: left;
	width: 100%;
/*	padding: 3px 0 3px 0;*/
	border-bottom: 1px solid #EFEFEF;
}
.mgmenu .dropdown_flyout ul li {
	width: 160px;
	padding: 3px 10px 3px 10px;
}
.mgmenu .dropdown_flyout li.last,.mgmenu .dropdown_flyout li:last-child {
	border: none;
}

.mgmenu .dropdown_flyout a {
	display: block;
	width: 100%;
	  font-size: 13px;
    padding: 10px;
	font-family: 'Open Sans',sans-serif;

}
.mgmenu .dropdown_flyout .dropdown_flyout_level {
	position: absolute;
	margin:15px 0 0 4px;
	padding:6px;
	left:98%;
	top:-21px;
	display: none;
	zoom:1;
	float: left;
}
.mgmenu .dropdown_flyout .dropdown_flyout_level_left {
	left:-102%;
	right:100%;
}
.mgmenu .dropdown_flyout .dropdown_parent {
	/*background:url("../img/mgmenu/rightArrow.png") no-repeat 90% 9px;*/
}
.mgmenu .dropdown_flyout .dropdown_parent_left {
	/*background:url("../img/mgmenu/leftArrow.png") no-repeat 90% 9px;*/
}
.mgmenu .dropdown_flyout li:hover > .dropdown_flyout_level,
.mgmenu .dropdown_flyout li:hover > .dropdown_flyout_level_left {
	display: block;
}
.mgmenu .dropdown_flyout .flyout_heading {
	font-family: Georgia, Times, "Times New Roman", serif;
	padding-bottom: 9px;
	margin-bottom: 9px;
	font-size: 16px;
	border-bottom: 1px solid #cccccc;
	-webkit-box-shadow:0 1px 1px #f4f4f4;
	-moz-box-shadow:0 1px 1px #f4f4f4;
	-o-box-shadow:0 1px 1px #f4f4f4;
	box-shadow:0 1px 1px #f4f4f4;
}




/*  _______________________________________

    05 CONTENT & TYPOGRAPHY
    _______________________________________  */




/* 1. Basic Typography */


.mgmenu p, 
.mgmenu h1, 
.mgmenu h2, 
.mgmenu h3, 
.mgmenu h4, 
.mgmenu h5, 
.mgmenu h6 {
	padding:0;
	margin:0;
	font-weight: normal;
	color:#222222;
	text-shadow:1px 1px 1px #ffffff;
	margin-bottom:18px;
}
.mgmenu h1, 
.mgmenu h2, 
.mgmenu h3, 
.mgmenu h4, 
.mgmenu h5, 
.mgmenu h6 {
	
}
.mgmenu p {
	font-size:12px;
}
.mgmenu h1 {
	font-size:32px;
}
.mgmenu h2 {
	font-size:28px;
}
.mgmenu h3 {
	font-size:24px;
}
.mgmenu h4 {
	font-size:15px;
	margin-bottom: 0px !important;

}
.mgmenu h5 {
	font-size:16px;
}
.mgmenu h6 {
	font-size:14px;
	text-transform:uppercase;
}
.mgmenu a {
	text-decoration: none;
	color:#5a5d62;
	-webkit-transition:color .3s;
	-moz-transition:color .3s;
	-o-transition:color .3s;
	-ms-transition:color .3s;
	transition:color .3s;    
}
.mgmenu a:hover {
	color:#2376DE;
}
.mgmenu a:focus {
	background: none;
}


/* 2. Lists */


.mgmenu > li ul,
.mgmenu > li ol {
	padding:0 0 0 18px;
	margin:0 0 18px 0;
}
.mgmenu > li ul {
	list-style:square;
}
.mgmenu > li ol {
	list-style:decimal;
}
.mgmenu > li ul.no_bullets {
	list-style:none;
	padding:0;
}
.mgmenu > li ul.no_bullets li {
	line-height: 24px;
}
.mgmenu > li ul li,
.mgmenu > li ol li {
	font-size:12px;
	line-height:22px;
	position:relative;
	color:#222222;
	text-shadow:1px 1px 1px #ffffff;
}


/* 3. Other Styling */


.mgmenu blockquote {
	color:#aaaaaa;
	border-left: 5px solid #cccccc;
	padding-left: 20px;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 18px;
	line-height: 27px;
}
.mgmenu .text_box {
	width: 84%;
	background: #ffffff;
	padding: 12px 8% 12px 8%;
	-webkit-box-shadow: 0 1px 1px #bbbbbb;
	-moz-box-shadow: 0 1px 1px #bbbbbb;
	-o-box-shadow: 0 1px 1px #bbbbbb;
	box-shadow: 0 1px 1px #bbbbbb;
}
.mgmenu .text_box_black {
	background: #212121;
}
.mgmenu .text_box_red {
	background: #e48a76;
}
.mgmenu .text_box_blue {
	background: #92bfd1;
}
.mgmenu .text_box_green {
	background: #b4ca91;
}
.mgmenu .text_box_yellow {
	background: #f3d067;
}
.mgmenu .text_box_purple {
	background: #C0ADDB;
}
.mgmenu .text_box_brown {
	background: #b2aa9f;
}
.mgmenu .text_box_black,
.mgmenu .text_box_red,
.mgmenu .text_box_blue,
.mgmenu .text_box_green,
.mgmenu .text_box_yellow,
.mgmenu .text_box_purple,
.mgmenu .text_box_brown {
	color:#ffffff;
	text-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	box-shadow:none;
}
.mgmenu .img_description {
	text-align: center;
	
	margin-top: 10px;
	
}
.mgmenu hr {
	width: 100%;
	height: 0;
	*height:2px;
	margin-bottom: 18px;
	border:none;
	border-bottom:1px solid #f4f4f4;
	border-top:1px solid #ccc;
}
.mgmenu .video_container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin-bottom: 18px;
}
	.mgmenu .video_container iframe,  
	.mgmenu .video_container object,  
	.mgmenu .video_container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border:none;
	    outline: none;
	}
.mgmenu iframe {
    border:0;
    outline: none;
 	width: 100%;
	font-size:100%;
    vertical-align:baseline;
    background:transparent;
    margin-bottom: 12px;
}


/* 4. Inline Images */


.mgmenu img {
	border:none;
}
.mgmenu .inline_img {
	max-width: 100%;
	height: auto;
	width: auto\9;
	box-sizing: border-box;
	-webkit-box-shadow: 0 1px 1px #999999;
	-moz-box-shadow: 0 1px 1px #999999;
	-o-box-shadow: 0 1px 1px #999999;
	box-shadow: 0 1px 1px #999999;
	margin-bottom:18px;
	margin-top: 6px;
}
.mgmenu a .inline_img {
	opacity: 0.8;
	-webkit-transition:opacity .3s;
	-moz-transition:opacity .3s;
	-o-transition:opacity .3s;
	-ms-transition:opacity .3s;
	transition:opacity .3s;    
}
.mgmenu a:hover .inline_img {
	opacity: 1;
}
.mgmenu .inline_img_border {
	border:5px solid #fff;
}


/* 5. Icons */


.mgmenu .mini_icon {
    /*background-image: url("../img/mgmenu/icons/mini-icons-white.png");*/
	background-repeat: no-repeat;
	margin-top: -2px;
	padding-left: 6px;
	float: left;
	width: 20px;
	height: 20px;
}

/* Row 1 */

.mgmenu .ic_empty_document{ background-position: 0 0;  } 
.mgmenu .ic_documents{ background-position: -32px 0;  } 
.mgmenu .ic_text_document{ background-position: -64px 0;  } 
.mgmenu .ic_folder{ background-position: -96px 0;  } 
.mgmenu .ic_picture{ background-position: -128px 0;  } 
.mgmenu .ic_cloud{ background-position: -160px 0;  } 
.mgmenu .ic_archive{ background-position: -192px 0;  } 
.mgmenu .ic_download{ background-position: -224px 0;  }
.mgmenu .ic_user{ background-position: -256px 0;  } 
.mgmenu .ic_tag{ background-position: -288px 0;  } 

/* Row 2 */

.mgmenu .ic_lock{ background-position: 0 -32px;  } 
.mgmenu .ic_unlock{ background-position: -32px -32px;  } 
.mgmenu .ic_mail{ background-position: -64px -32px;  } 
.mgmenu .ic_brush{ background-position: -96px -32px;  } 
.mgmenu .ic_refresh{ background-position: -128px -32px;  } 
.mgmenu .ic_grid{ background-position: -160px -32px;  } 
.mgmenu .ic_list{ background-position: -192px -32px;  } 
.mgmenu .ic_delete{ background-position: -224px -32px;  } 
.mgmenu .ic_settings{ background-position: -256px -32px;  } 
.mgmenu .ic_time{ background-position: -288px -32px;  } 

/* Row 3 */

.mgmenu .ic_bookmark{ background-position: 0 -64px;  } 
.mgmenu .ic_calendar{ background-position: -32px -64px;  } 
.mgmenu .ic_graph{ background-position: -64px -64px;  } 
.mgmenu .ic_pin{ background-position: -96px -64px;  } 
.mgmenu .ic_chat{ background-position: -128px -64px;  } 
.mgmenu .ic_chats{ background-position: -160px -64px;  } 
.mgmenu .ic_print{ background-position: -192px -64px;  } 
.mgmenu .ic_attachment{ background-position: -224px -64px;  } 
.mgmenu .ic_power{ background-position: -256px -64px;  } 
.mgmenu .ic_favorite{ background-position: -288px -64px;  } 

/* Row 4 */

.mgmenu .ic_sound{ background-position: 0 -96px;  } 
.mgmenu .ic_edit{ background-position: -32px -96px;  } 
.mgmenu .ic_fullscreen{ background-position: -64px -96px;  } 
.mgmenu .ic_target{ background-position: -96px -96px;  } 
.mgmenu .ic_sync{ background-position: -128px -96px;  } 
.mgmenu .ic_zoom{ background-position: -160px -96px;  } 
.mgmenu .ic_plus{ background-position: -192px -96px;  } 
.mgmenu .ic_minus{ background-position: -224px -96px;  } 
.mgmenu .ic_cancel{ background-position: -256px -96px;  } 
.mgmenu .ic_ok{ background-position: -288px -96px;  } 

/* Row 5 */

.mgmenu .ic_users{ background-position: 0 -128px;  } 
.mgmenu .ic_calc{ background-position: -32px -128px;  } 
.mgmenu .ic_left{ background-position: -64px -128px;  } 
.mgmenu .ic_right{ background-position: -96px -128px;  } 
.mgmenu .ic_up{ background-position: -128px -128px;  } 
.mgmenu .ic_down{ background-position: -160px -128px;  } 
.mgmenu .ic_up_circle{ background-position: -192px -128px;  }
.mgmenu .ic_down_circle{ background-position: -224px -128px;  } 
.mgmenu .ic_left_circle{ background-position: -256px -128px;  } 
.mgmenu .ic_right_circle{ background-position: -288px -128px;  } 

.mgmenu .menubar_icon {
	padding: 0;
	list-style: none;
	float: left;
}
.mgmenu .menubar_icon:hover {
	background:none;
}
.mgmenu .menubar_icon ul > li {
	list-style: none;
	float: left;
	-webkit-transition:background-color .3s;
	-moz-transition:background-color .3s;
	-o-transition:background-color .3s;
	-ms-transition:background-color .3s;
	transition:background-color .3s;    
}
.mgmenu .menubar_icon ul > li:hover {
	background-color:#131313;
}
.mgmenu .menubar_icon ul > li > a {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 24px 24px;
	display: block;
	padding: 7px 4px 9px 4px;
	width: 24px;
	height: 24px;
}
.mgmenu .icon_vimeo {
    /*background-image: url("../img/mgmenu/icons/icon_vimeo.png");*/
}
.mgmenu .icon_dribbble {
    /*background-image: url("../img/mgmenu/icons/icon_dribbble.png");*/
}
.mgmenu .icon_twitter {
    /*background-image: url("../img/mgmenu/icons/icon_twitter.png");*/
}
.mgmenu .icon_facebook {
    /*background-image: url("../img/mgmenu/icons/icon_facebook.png");*/
}
.mgmenu .icon_flickr {
    /*background-image: url("../img/mgmenu/icons/icon_flickr.png");*/
}


/* 6. Form Elements */


.mgmenu .contact_form {
	display: block;
	margin-bottom:10px;
}
.mgmenu .contact_form label {
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
}
.mgmenu .form_element {
	color: #000000; 
	background-color:#fbfbfb;
	border:1px solid #dddddd;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	width: 96%;
	padding:9px 2% 9px 2%;
	margin:12px 0 18px 0;
	-webkit-box-shadow: 0 1px 1px #efefef;
	-moz-box-shadow: 0 1px 1px #efefef;
	-o-box-shadow: 0 1px 1px #efefef;
	box-shadow: 0 1px 1px #efefef;
	-webkit-transition: background-color 0.3s ease-out;
	-moz-transition: background-color 0.3s ease-out;
	-o-transition: background-color 0.3s ease-out;
	-ms-transition: background-color 0.3s ease-out;
	transition: background-color 0.3s ease-out;
}   
	.mgmenu .form_element:hover{
		background-color:#fcfcfc;
	}
	.mgmenu .form_element:focus {
		background-color:#ffffff;
	}
	.mgmenu .form_element:focus {
		outline:none;
	}

.mgmenu .contact_form textarea {
	height:120px;
	resize:none;
}
.mgmenu .contact_form .required {
	color:#C00;
}
.mgmenu .contact_form .error, 
.mgmenu .contact_form .success {
	width: 96%;
	padding:9px 2% 9px 2%;
	margin: 12px 0 6px 0;
	border:1px solid rgba(0,0,0,0.15);
	text-shadow:1px 1px 1px #ffffff;
	-webkit-box-shadow: 0 1px 1px #efefef;
	-moz-box-shadow: 0 1px 1px #efefef;
	-o-box-shadow: 0 1px 1px #efefef;
	box-shadow: 0 1px 1px #efefef;
}
	.mgmenu .contact_form .error {
		background:#f7cac4; 
		color:#992213;
	}
	.mgmenu .contact_form .success {
		background:#d8f6bc; 
		color:#2f530b;
		margin-bottom: 12px;
	}
.mgmenu .contact_form .button {
	padding: 7px 12px;
	margin:9px 12px 0 0;
	white-space: nowrap;
	font-size: 11px;
	text-transform: uppercase;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #000000;
	color: #ffffff;
	background-color: #222222;
	text-shadow: 0 1px 1px #000000;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	-ms-transition: background-color 0.3s;
	transition: background-color 0.3s;
}
	.mgmenu .contact_form .button:active {
	}
	.mgmenu .contact_form .button:hover, 
	.mgmenu .contact_form .button:focus {
		color: #ffffff;
		background-color: #1A1A1A;
	}

.mgmenu .contact_form .select_element {
	float: left;
	width:310px;
	overflow: hidden;
	position: relative;
	background-color:#fbfbfb;
	border:1px solid #dddddd;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	width: 100%;
	margin:12px 0 18px 0;
	-webkit-box-shadow: 0 1px 1px #efefef;
	-moz-box-shadow: 0 1px 1px #efefef;
	-o-box-shadow: 0 1px 1px #efefef;
	box-shadow: 0 1px 1px #efefef;
}
	.mgmenu .contact_form .select_element select {
		width:100%;
		height:30px;
		font-size:12px;
		color: #999;
		padding: 6px 0 6px 10px;
		border: 0;
		background: none;
		outline: none;
	}
	.mgmenu .contact_form .select_element select option {
		background: #fdfdfd;
		width: 100%;
		color: #666;
	}
	@media screen and (-webkit-min-device-pixel-ratio:0) {

		.mgmenu .contact_form .select_element:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 10px;
			margin-top: -3px;
			border: 5px solid transparent;
			border-top: 5px solid #333333;
			pointer-events: none;
		}
		.mgmenu .contact_form .select_element select,
		.mgmenu .contact_form .select_element select option {
			-webkit-appearance: none;
			appearance: none;
		}

	}




/*  _______________________________________

    06 DROP DOWN TABS
    _______________________________________  */




.mgmenu li > .mgmenu_tabs {
	padding: 0 !important;
}
.mgmenu_tabs > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.mgmenu_tabs_hide {
	display:none;
}
.mgmenu_tabs .mgmenu_tabs_nav {
	width:20%;
	float:left;
	position: relative;
	margin:0;
	padding: 0;
}
.mgmenu_tabs .mgmenu_tabs_panels {
	margin: 0;
	padding: 21px 1% 12px 1%;
	width: 78%;
	*width:77.9%; /* IE7 bug */
	float: left;
	background-color: #ffffff;
	-webkit-box-shadow: -1px 0px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: -1px 0px 1px rgba(0,0,0,0.05);
	-o-box-shadow: -1px 0px 1px rgba(0,0,0,0.05);
	box-shadow: -1px 0px 1px rgba(0,0,0,0.05);
}
.mgmenu_tabs .mgmenu_tabs_nav li {
	list-style: none;
	margin:0;
	border:none;
	margin:0;
	float: left;
	width: 100%;
	clear: left;
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	-ms-transition: background 0.5s ease;
	transition: background 0.5s ease;
}
.mgmenu_tabs .mgmenu_tabs_nav li a {
	font-size:12px;
	outline:0;
	text-decoration:none;
	display:block;
	padding: 9px 15px 9px 15px;
}
.mgmenu_tabs li a.current,
.mgmenu_tabs li a.current:hover {
	background-color: #ffffff;
	-webkit-box-shadow: 0 -1px 1px rgba(0,0,0,0.05), 0 1px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 -1px 1px rgba(0,0,0,0.05), 0 1px 1px rgba(0,0,0,0.05);
	-o-box-shadow: 0 -1px 1px rgba(0,0,0,0.05), 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: 0 -1px 1px rgba(0,0,0,0.05), 0 1px 1px rgba(0,0,0,0.05);
	top:1px;
}

/* Right Tabs */

.mgmenu_tabs_right .mgmenu_tabs_panels {
	-webkit-box-shadow: 1px 0px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 1px 0px 1px rgba(0,0,0,0.05);
	-o-box-shadow: 1px 0px 1px rgba(0,0,0,0.05);
	box-shadow: 1px 0px 1px rgba(0,0,0,0.05);
}

/* Top & Bottom Tabs */

.mgmenu_tabs_top .mgmenu_tabs_nav,
.mgmenu_tabs_bottom .mgmenu_tabs_nav {
	width:100%;
}
.mgmenu_tabs_top .mgmenu_tabs_panels,
.mgmenu_tabs_bottom .mgmenu_tabs_panels {
	padding: 21px 1% 12px 1%;
	width: 98%;
	*width:97.9%; /* IE7 bug */
}
.mgmenu_tabs_top .mgmenu_tabs_nav li,
.mgmenu_tabs_bottom .mgmenu_tabs_nav li {
	float: none;
	width: auto;
	clear: none;
	display: inline;
}
.mgmenu_tabs_top .mgmenu_tabs_nav li a,
.mgmenu_tabs_bottom .mgmenu_tabs_nav li a {
	display:inline;
	float: left;
}
.mgmenu_tabs_top li a.current,
.mgmenu_tabs_top li a.current:hover,
.mgmenu_tabs_bottom li a.current,
.mgmenu_tabs_bottom li a.current:hover {
	-webkit-box-shadow: -1px 0 1px rgba(0,0,0,0.05), 1px 0px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: -1px 0 1px rgba(0,0,0,0.05), 1px 0px 1px rgba(0,0,0,0.05);
	-o-box-shadow: -1px 0 1px rgba(0,0,0,0.05), 1px 0px 1px rgba(0,0,0,0.05);
	box-shadow: -1px 0 1px rgba(0,0,0,0.05), 1px 0px 1px rgba(0,0,0,0.05);
}

.mgmenu_tabs_top .mgmenu_tabs_panels {
	-webkit-box-shadow: 0px -1px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px -1px 1px rgba(0,0,0,0.05);
	-o-box-shadow: 0px -1px 1px rgba(0,0,0,0.05);
	box-shadow: 0px -1px 1px rgba(0,0,0,0.05);
}
.mgmenu_tabs_bottom .mgmenu_tabs_panels {
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.05);
	-o-box-shadow: 0px 1px 1px rgba(0,0,0,0.05);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.05);
}




/* circle image in dropdown */
.WrapperToRight { padding-top:26px !important; right: 0px;}
.WrapperToRight img {width: 100px; border: 5px solid #ddd;opacity:1;}
.WrapperToRight img:hover,.WrapperToRight img:focus {opacity:1;border: 5px solid #5DA9C5;}
.WrapperToRight div {text-align: center;}
.header4 .WrapperToRight {right: auto;}
.header5 .WrapperToRight {right: auto;}

/* full-width dropdown */
.dropdown_fullwidth .img-circle { max-width: 100%; width: 80px;}
.galleryInMenu img {max-width: 100%; border: 3px solid #efefef; }

/* ie8 fix */
.no-rgba .WrapperToRight {right:67px;}
.no-rgba .mgmenu{  max-width:1170px; }
.no-rgba .mgmenu_container  {/*background: #40494C !important;*/ }
.no-rgba .lightNav .header5 .mgmenu > li:last-child {border-right: 1px solid #ccc;}
.no-rgba .lightNav .header4 .mgmenu > li:last-child {border-right: 1px solid #313131;}

.mgmenu_tabs li a.current,.mgmenu_tabs li a.current:hover {background: #ddd; color: #333;}




/*  _______________________________________

    07 MOBILE DEVICES
    _______________________________________  */





/* menu size like bootstrap container */
@media screen and (min-width: 783px) {

.mgmenu {max-width:750px;}
.WrapperToRight {right:67px;}
.WrapperToRight div {margin-bottom: 30px;}

}

@media (min-width:992px) {

.mgmenu {max-width:970px;}	

}

@media (min-width:1200px){

.mgmenu{max-width:1170px;}

}






@media only screen and (max-width: 782px) {


	.mgmenu {padding:0px;}
	.mgmenu_container,
	.mgmenu_fixed,
	.mgmenu_footer {
		width:100% !important;
		height:auto;
		margin:0;
		position:relative;
		left:auto;
		top:auto;
		bottom:auto;
		background: #ddd;
		padding: 0px;
		max-width: none;
		box-shadow: none;
	}
	.mgmenu_footer {
	}
	.mgmenu_container .mgmenu > li,
	.mgmenu_fixed .mgmenu > li,
	.mgmenu_footer .mgmenu > li {
		float:none;
		width:auto;
		border:none;
		display: block;
		padding: 0;
	}
	.mgmenu > li > span,
	.mgmenu > li > a,
	.mgmenu > li.current > a, .mgmenu > li.current > span { display:block; background:#e9e9e9; border-bottom:1px solid #e0e0e0;}
		.mgmenu > li .mgmenu_drop {
			background-position:96% 19px;
		}
	.mgmenu > li .dropdown_container,
	.mgmenu > li .dropdown_fullwidth,
	.mgmenu_footer .mgmenu > li .dropdown_container,
	.mgmenu_footer .mgmenu > li .dropdown_fullwidth {
		position:absolute;
		top:auto;
		bottom:auto;
		width: 100%;
		margin:0 0 0 -1px;
		-webkit-border-radius:0 0 3px 3px;
		-moz-border-radius:0 0 3px 3px;
		border-radius:0 0 3px 3px;
		-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.05);
		-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.05);
		-o-box-shadow: 0 2px 2px rgba(0,0,0,0.05);
		box-shadow: 0 2px 2px rgba(0,0,0,0.05);
		border:1px solid #CCCCCC;
		border-top:none;
	}
	.mgmenu li .dropdown_1column,
	.mgmenu li .dropdown_2columns,
	.mgmenu li .dropdown_3columns,
	.mgmenu li .dropdown_4columns,
	.mgmenu li .dropdown_5columns,
	.mgmenu li .dropdown_6columns,
	.mgmenu li .dropdown_7columns,
	.mgmenu li .dropdown_8columns,
	.mgmenu li .dropdown_9columns,
	.mgmenu li .dropdown_10columns,
	.mgmenu li .dropdown_11columns,
	.mgmenu li .dropdown_fullwidth {
		width: 100%;
		padding-left:0;
		padding-right:0;
	}
	.mgmenu .col_1,
	.mgmenu .col_2,
	.mgmenu .col_3,
	.mgmenu .col_4,
	.mgmenu .col_5,
	.mgmenu .col_6,
	.mgmenu .col_7,
	.mgmenu .col_8,
	.mgmenu .col_9,
	.mgmenu .col_10,
	.mgmenu .col_11,
	.mgmenu .col_12 {
		width:92%;
		margin-left: 4%;
		margin-right: 4%;
		padding: 0;
		float: left;
		display: block;
	}
	.mgmenu .col_border {
		box-shadow:none;
	}

	/* Multilevel drop down */

	.mgmenu .dropdown_flyout, 
	.mgmenu .dropdown_flyout .dropdown_flyout_level,
	.mgmenu .dropdown_flyout .dropdown_flyout_level_left {
		position: relative;
		left:auto;
		right:auto;
		top:auto;
		padding: 0;
		margin: 6px 4% 0 4%;
	}
	.mgmenu .dropdown_flyout .dropdown_flyout_level {
		border:none;
		background: none;
		box-shadow:none;
	}
	.mgmenu .dropdown_flyout li,
	.mgmenu .dropdown_flyout ul li {
		width: 100%;
		padding: 6px 0 6px 0;
	}
	.mgmenu li .dropdown_flyout .dropdown_parent {
		/*background:url("../img/mgmenu/downArrow-b.png") no-repeat 98% 14px;*/
	}

	/* Tabs */

	.mgmenu li > .mgmenu_tabs {
		width: 100%;
	}
	.mgmenu_tabs .mgmenu_tabs_nav {
		width:100%;
		float:left;
		margin:0;
		padding: 0;
	}
	.mgmenu_tabs .mgmenu_tabs_panels {
		padding: 21px 0 12px 0;
		width: 100%;
	}

	/* Other Elements */

	.mgmenu_trigger {
		display: none;
	}
	.mgmenu blockquote {
		margin-left: 12px;
	}
	.mgmenu .img_description {
		text-align: left;
	}

	.mgmenu .menubar_icon {
		z-index: 9;
		float: none !important;
		padding: 0 0 14px 0 !important;
	}
	.mgmenu .menubar_icon ul {
		width: 100%;
		padding: 0 0 9px 0 !important;
	}
	.mgmenu .menubar_icon ul > li {
		padding-left: 2%;
		padding-right: 2%;
	}


}









/*------------ HEADER 2 -------------------*/
.header2  .mgmenu_container,
.header2 .mgmenu_fixed,
.header2 .mgmenu_footer {background-image:none; background-color: transparent;box-shadow: 0 1px 1px #B5B5B5; border: none;
border-radius:0px;box-shadow:none;}

.lightNav2 {
	width:100%;
	/*min-height: 41px;*/
	z-index:10;
	max-width: inherit;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC45OSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5NyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC40OCIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4zMiIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 2%, rgba(255,255,255,0.99) 3%, rgba(255,255,255,0.48) 97%, rgba(255,255,255,0.32) 98%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(2%,rgba(255,255,255,1)), color-stop(3%,rgba(255,255,255,0.99)), color-stop(97%,rgba(255,255,255,0.48)), color-stop(98%,rgba(255,255,255,0.32)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 2%,rgba(255,255,255,0.99) 3%,rgba(255,255,255,0.48) 97%,rgba(255,255,255,0.32) 98%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 2%,rgba(255,255,255,0.99) 3%,rgba(255,255,255,0.48) 97%,rgba(255,255,255,0.32) 98%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */

background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 2%,rgba(255,255,255,0.99) 3%,rgba(255,255,255,0.48) 97%,rgba(255,255,255,0.32) 98%,rgba(255,255,255,0) 100%); /* W3C */
box-shadow: 0 1px 1px #B5B5B5;
background-color:#ccc; border: none;
border-radius:0px;-webkit-border-radius:0px;-moz-border-radius:0px; margin-bottom:0px; -webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.25); box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.25), 0 -3px 0px 0 rgba(0, 0, 0, 0.09) inset; padding-bottom:3px;
}

.lightNav2 .header2 .mgmenu > li { border-left: none;border-right: none; border-top: transparent solid 3px;}

	
.lightNav2 .header2 .mgmenu > li:nth-child(2) { border-left:none; padding-right: 10px; }



.lightNav2 .header2 .mgmenu_tabs li a.current,.lightNav2 .header2 .mgmenu_tabs li a.current:hover {background: #ddd; color: #333;}


.lightNav2 .header2 .mgmenu { float: none; font-family: Arial,Helvetica,sans-serif;  font-size: 13px;  line-height: 1; list-style: none outside none;
    margin: 0;  margin-left: -15px;}

.lightNav2 .header2 .mgmenu li .dropdown_container,.lightNav2 .header2  .mgmenu li .mgmenu_multilevel {margin-top: 0px;}
.lightNav2 .header2  .mgmenu li .dropdown_fullwidth {margin-top: 0px;}


.lightNav2 .header2 .mgmenu > li span p { margin-bottom: 0;color: #999;}
.lightNav2 .header2 .mgmenu > li:hover,.lightNav2 .header2  .mgmenu > li.active,.lightNav2 .header2  .mgmenu > li.current { background: none repeat scroll 0 0 #fff;border-color: #5DA9C5;}
.lightNav2 .header2 .mgmenu > li:last-child span { padding: 18px 20px 19px;}
.lightNav2 .header2 .mgmenu > li > a,.lightNav2 .header2  .mgmenu > li > span {  padding: 20px 10px 17px 16px !important;}


@media screen and (min-width: 999px) and (max-width: 1040px;){


.lightNav2 .header2 .WrapperToRight {left:67px;}
.lightNav2 .header2 .WrapperToRight div {margin-bottom: 30px;}

}

@media screen and (min-width: 783px) and (max-width: 998px){


.lightNav2 .header2 .WrapperToRight {left:0px !important;}



}

@media only screen and (max-width: 782px) {
.lightNav2 .header2 .mgmenu > li:nth-child(2) { padding-right: 0px; }
.lightNav2 .header2 .mgmenu > li:nth-child(2) .dropdown_container { margin-left: 0px;}
.lightNav2 .header2 .mgmenu { margin-left: 0px;}
.mgmenu .dropdown_flyout .dropdown_flyout_level {width: 100%;margin: 0px;}
	
.lightNav2 .header2 .mgmenu > li:nth-child(2) {margin-left: 0px;}
.lightNav2 .header2 .mgmenu {  margin: 0 -15px;}
.lightNav2 .header2 .mgmenu > li:hover,.lightNav2 .header2  .mgmenu > li.active,.lightNav2 .header2  .mgmenu > li.current { background: none repeat scroll 0 0 #999;border-color: #5DA9C5;}

.lightNav2 .header2 .mgmenu li > .mgmenu_tabs { width: auto;}
.lightNav2 .header2 .mgmenu > li { border-left: medium none;  border-right: medium none; border-top: none;}

}


/*------------ HEADER 3 -------------------*/

.header3  .mgmenu_container,
.header3 .mgmenu_fixed,
.header3 .mgmenu_footer {background-image:none; background-color: transparent;box-shadow: 0 1px 1px #B5B5B5; border: none;
border-radius:0px;box-shadow:none;}

.darkNav3 {
    background: none repeat scroll 0 0 #333333 !important;
}
.darkNav3 .header3 .mgmenu > li { border-top: 3px solid #333333; }
.darkNav3 .header3 .mgmenu > li:hover,.darkNav3 .header3  .mgmenu > li.active,.darkNav3 .header3  .mgmenu > li.current { background: #333 !important;border-top-color: #5DA9C5;}
.darkNav3 .header3 .mgmenu > li > span:hover,.darkNav3 .header3 .mgmenu > li > a:hover,.darkNav3 .header3 .mgmenu > li > a:focus,.darkNav3 .header3 .mgmenu > li.current > a,.darkNav3 .header3 .mgmenu > li.current > span {background: #555 !important;outline:none;text-shadow:none;}

.darkNav3 .header3 .mgmenu .dropdown_flyout .dropdown_flyout_level {background: #333 ;outline:none;text-shadow:none; border-color: #555; border-top-color:#5DA9C5; }

.darkNav3 .header3 .mgmenu .dropdown_flyout li { border-bottom: 1px solid #292929;}


.darkNav3 .header3 .mgmenu > li:last-child span { padding: 18px 20px 19px;}
.darkNav3 .header3 .mgmenu > li:nth-last-child(2) span {  padding-right: 20px;}


.darkNav3 .header3 .mgmenu li .dropdown_container,.darkNav3 .header3  .mgmenu li .dropdown_fullwidth,.darkNav3 .header3  .mgmenu li .mgmenu_multilevel {
    background-color: #333333;  border-color: #5DA9C5 #555 #555; border-radius: 0 0 3px 3px; border-right: 1px solid #555; border-style: solid;
    color: #fff;}

.darkNav3 .header3 .mgmenu > li ul li,.darkNav3 .header3  .mgmenu > li ol li { text-shadow: none;}


.darkNav3 .header3 .mgmenu a {  color: #FFFFFF; text-shadow:none;}
.darkNav3 .header3 .mgmenu a:hover {  color: #5DA9C5; }

.darkNav3 .header3 .mgmenu > li span p { color: #999999; margin-bottom: 0; text-shadow: none;}
.darkNav3 .header3 .mgmenu .dropdown_flyout li { border-bottom: 1px solid #292929;}



.darkNav3 .header3 .mgmenu {float: none;font-family: Arial,Helvetica,sans-serif;font-size: 13px;line-height: 1; list-style: none outside none; margin: 0;
}
.darkNav3 .header3 .mgmenu .dropdown_flyout li.last,.darkNav3 .header3  .mgmenu .dropdown_flyout li:last-child {  border: medium none;}

.darkNav3 .header3 .mgmenu li .dropdown_container,.darkNav3 .header3  .mgmenu li .dropdown_fullwidth,.darkNav3 .header3  .mgmenu li .mgmenu_multilevel {margin-top: 0px;}


.darkNav3 .header3 .mgmenu > li span p { margin-bottom: 0;}

.darkNav3 .header3 .mgmenu p,.darkNav3 .header3  .mgmenu h1,.darkNav3 .header3  .mgmenu h2,.darkNav3 .header3  .mgmenu h3,.darkNav3 .header3  .mgmenu h4,.darkNav3 .header3  .mgmenu h5,.darkNav3 .header3  .mgmenu h6 {color: #fff; text-shadow:none;}

.darkNav3 .header3 .mgmenu hr {border-color:#313131; }

.darkNav3 .header3 .mgmenu_tabs li a.current,.darkNav3 .header3 .mgmenu_tabs li a.current:hover {background: #202020; color: #eee;}
.darkNav3 .header3 ul > li { color: #EEEEEE !important; border: none;}
.darkNav3 .header3 .mgmenu_tabs .mgmenu_tabs_panels {background: #333;}


.darkNav3 .header3 .mgmenu > li:last-child span { padding: 18px 20px 19px;}

.darkNav3 .header3  .mgmenu { float: none; font-family: Arial,Helvetica,sans-serif;  font-size: 13px;  line-height: 1; list-style: none outside none;
    margin: 0;  margin-left: -15px;}

.darkNav3 .header3  .mgmenu > li:nth-child(2) {  border-left: medium none;}
.darkNav3 .header3 .mgmenu > li > a,.darkNav3 .header3  .mgmenu > li > span {  padding: 20px 20px 17px 16px !important;}

@media screen and (min-width: 999px) and (max-width: 1040px;){


.darkNav3 .header3 .WrapperToRight {left: 0px; right: auto;}
.darkNav3 .header3 .WrapperToRight div {margin-bottom: 30px;}

}

@media screen and (min-width: 783px) and (max-width: 998px){

.header3 .WrapperToRight {
    left: 0 !important;
}


}

@media only screen and (max-width: 782px) {
.darkNav3 .header3 .mgmenu { float: none; margin: 0 -15px;}
.darkNav3 .header3 .mgmenu > li { border-top: none;}

.darkNav3 .header3 .mgmenu_container > .mgmenu > li.mgmenu_button,.darkNav3 .header3  .mgmenu_fixed > .mgmenu > li.mgmenu_button,.darkNav3 .header3  .mgmenu_footer > .mgmenu > li.mgmenu_button { background-color: #999999;color: #fff;}

.darkNav3 .header3 .mgmenu > li:hover, .darkNav3 .header3 .mgmenu > li.active, .darkNav3 .header3 .mgmenu > li.current {
    background: #999 !important; border-top-color: transparent;}

.darkNav3 .header3 .mgmenu > li > span:hover, .darkNav3 .header3 .mgmenu > li > a:hover, .darkNav3 .header3 .mgmenu > li > a:focus, .darkNav3 .header3 .mgmenu > li.current > a, .darkNav3 .header3 .mgmenu > li.current > span { background: none repeat scroll 0 0 #fff !important; text-shadow: none;}

.darkNav3 .header3 .mgmenu li .dropdown_container, .darkNav3 .header3 .mgmenu li .dropdown_fullwidth, .darkNav3 .header3 .mgmenu li .mgmenu_multilevel {
    background-color: #e9e9e9; border-color: #e0e0e0; border-radius: 0px;
    border: none; }
.darkNav3 .header3 .mgmenu .dropdown_flyout .dropdown_flyout_level {
    background: none repeat scroll 0 0 #e9e9e9; border:none;  outline: medium none;
    text-shadow: none;}

.darkNav3 .header3 .mgmenu .dropdown_flyout li { border-bottom: 1px solid #e0e0e0;}


.darkNav3 .header3 .mgmenu > li:nth-child(2) { margin-left: 0px;padding-right: 0px;}

.darkNav3 .header3 .mgmenu a { color: #333;}
.darkNav3 .header3 .mgmenu a:hover {color: #000;}

.darkNav3 .header3 .mgmenu p, .darkNav3 .header3 .mgmenu h1, .darkNav3 .header3 .mgmenu h2, .darkNav3 .header3 .mgmenu h3, .darkNav3 .header3 .mgmenu h4, .darkNav3 .header3 .mgmenu h5, .darkNav3 .header3 .mgmenu h6 , .darkNav3 .header3 .mgmenu ul > li{ color: #333 ; text-shadow: none !important;}

.darkNav3 .header3 .mgmenu_tabs li a.current,.darkNav3 .header3 .mgmenu_tabs li a.current:hover {
    background: #ddd;  color: #333;}

.darkNav3 .header3 .mgmenu > li:last-child { border-right: none;}

.darkNav3 .header3 .mgmenu > li {border-left: none;}

.darkNav3 .header3 .mgmenu hr { border-color: #ddd;}

.header3 .mgmenu_tabs .mgmenu_tabs_panels {background: #e9e9e9 !important;}




}

/*------------ HEADER 4 -------------------*/

.header4.dark  .mgmenu_container,
.header4.dark .mgmenu_fixed,
.header4.dark .mgmenu_footer {background-image:none; background-color: transparent;box-shadow: 0 1px 1px #B5B5B5; border: none;
border-radius:0px;box-shadow:none;}

.header4.dark {
    background: none repeat scroll 0 0 #333333 !important;
}
.header4.dark .mgmenu > li { border-top: 3px solid #333333; }
.header4.dark .mgmenu > li:hover,.header4.dark  .mgmenu > li.active,.header4.dark  .mgmenu > li.current { background: #333 !important;border-top-color: #5DA9C5;}
.header4.dark .mgmenu > li > span:hover,.header4.dark .mgmenu > li > a:hover,.header4.dark .mgmenu > li > a:focus,.header4.dark .mgmenu > li.current > a,.header4.dark .mgmenu > li.current > span {background: #555 !important;outline:none;text-shadow:none;}

.header4.dark .mgmenu .dropdown_flyout .dropdown_flyout_level {background: #333 ;outline:none;text-shadow:none; border-color: #555; border-top-color:#5DA9C5; }

.header4.dark .mgmenu .dropdown_flyout li { border-bottom: 1px solid #292929;}


.header4.dark .mgmenu > li:last-child span { padding: 18px 20px 19px;}
.header4.dark .mgmenu > li:nth-last-child(2) span {  padding-right: 20px;}


.header4.dark .mgmenu li .dropdown_container,.header4.dark  .mgmenu li .dropdown_fullwidth,.header4.dark  .mgmenu li .mgmenu_multilevel {
    background-color: #333333;  border-color: #5DA9C5 #555 #555; border-radius: 0 0 3px 3px; border-right: 1px solid #555; border-style: solid;
    color: #fff;}

.header4.dark .mgmenu > li ul li,.header4.dark  .mgmenu > li ol li { text-shadow: none;}


.header4.dark .mgmenu a {  color: #FFFFFF; text-shadow:none;}
.header4.dark .mgmenu a:hover {  color: #5DA9C5; }

.header4.dark .mgmenu > li span p { color: #999999; margin-bottom: 0; text-shadow: none;}
.header4.dark .mgmenu .dropdown_flyout li { border-bottom: 1px solid #292929; border-right: none;}



.header4.dark .mgmenu {float: none;font-family: Arial,Helvetica,sans-serif;font-size: 13px;line-height: 1; list-style: none outside none; margin: 0;
}
.header4.dark .mgmenu .dropdown_flyout li.last,.header4.dark  .mgmenu .dropdown_flyout li:last-child {  border: medium none;}

.header4.dark .mgmenu li .dropdown_container,.header4.dark  .mgmenu li .dropdown_fullwidth,.header4.dark  .mgmenu li .mgmenu_multilevel {margin-top: 0px;}


.header4.dark .mgmenu > li span p { margin-bottom: 0;}

.header4.dark .mgmenu p,.header4.dark  .mgmenu h1,.header4.dark  .mgmenu h2,.header4.dark  .mgmenu h3,.header4.dark  .mgmenu h4,.header4.dark  .mgmenu h5,.header4.dark  .mgmenu h6 {color: #fff; text-shadow:none;}

.header4.dark .mgmenu hr {border-color:#313131; }

.header4.dark .mgmenu_tabs li a.current,.header4.dark .mgmenu_tabs li a.current:hover {background: #202020; color: #eee;}
.header4.dark .mgmenu > li { color: #EEEEEE !important; border-right: 1px solid #292929; border-left: none;}

.header4.dark .mgmenu_tabs .mgmenu_tabs_panels {background: #333;}
.header4.dark .mgmenu_tabs .mgmenu_tabs_panels li {color: #fff;}

.header4.dark .mgmenu > li:last-child span { padding: 18px 20px 19px;}

.header4.dark  .mgmenu { float: none; font-family: Arial,Helvetica,sans-serif;  font-size: 13px;  line-height: 1; list-style: none outside none;
    margin: 0;  margin-left: -15px;}

.header4.dark  .mgmenu > li:nth-child(2) {  border-left: #292929 1px solid;}
.header4.dark .mgmenu > li > a,.header4.dark  .mgmenu > li > span {  padding: 20px 15px 17px 15px !important;}

@media screen and (min-width: 999px) and (max-width: 1040px;){


.header4.dark .WrapperToRight {left: 0px; right: auto;}
.header4.dark .WrapperToRight div {margin-bottom: 30px;}

}

@media screen and (min-width: 783px) and (max-width: 998px){

.header3 .WrapperToRight {
    left: 0 !important;
}
.header4.dark .mgmenu > li > a,.header4.dark  .mgmenu > li > span {  padding: 20px 25px 17px 25px !important;}

}

@media only screen and (max-width: 782px) {
.header4.dark .mgmenu { float: none; margin: 0 -15px;}
.header4.dark .mgmenu > li { border-top: none;}

.header4.dark .mgmenu_container > .mgmenu > li.mgmenu_button,.header4.dark  .mgmenu_fixed > .mgmenu > li.mgmenu_button,.header4.dark  .mgmenu_footer > .mgmenu > li.mgmenu_button { background-color: #999999;color: #fff;}

.header4.dark .mgmenu > li:hover, .header4.dark .mgmenu > li.active, .header4.dark .mgmenu > li.current {
    background: #999 !important; border-top-color: transparent;}

.header4.dark .mgmenu > li > span:hover, .header4.dark .mgmenu > li > a:hover, .header4.dark .mgmenu > li > a:focus, .header4.dark .mgmenu > li.current > a, .header4.dark .mgmenu > li.current > span { background: none repeat scroll 0 0 #fff !important; text-shadow: none;}

.header4.dark .mgmenu li .dropdown_container, .header4.dark .mgmenu li .dropdown_fullwidth, .header4.dark .mgmenu li .mgmenu_multilevel {
    background-color: #e9e9e9; border-color: #e0e0e0; border-radius: 0px;
    border: none; }
.header4.dark .mgmenu .dropdown_flyout .dropdown_flyout_level {
    background: none repeat scroll 0 0 #e9e9e9; border:none;  outline: medium none;
    text-shadow: none;}

.header4.dark .mgmenu .dropdown_flyout li { border-bottom: 1px solid #e0e0e0;}


.header4.dark .mgmenu > li:nth-child(2) { margin-left: 0px;}

.header4.dark .mgmenu a { color: #333;}
.header4.dark .mgmenu a:hover {color: #000;}

.header4.dark .mgmenu p, .header4.dark .mgmenu h1, .header4.dark .mgmenu h2, .header4.dark .mgmenu h3, .header4.dark .mgmenu h4, .header4.dark .mgmenu h5, .header4.dark .mgmenu h6 , .header4.dark .mgmenu ul > li{ color: #333 !important; text-shadow: none !important;}

.header4.dark .mgmenu_tabs li a.current,.header4.dark .mgmenu_tabs li a.current:hover {
    background: #ddd;  color: #333;}

.header4.dark .mgmenu > li:last-child { border-right: none;}

.header4.dark .mgmenu > li {border-left: none;}

.header4.dark .mgmenu hr { border-color: #ddd;}

.header4.dark .mgmenu_tabs .mgmenu_tabs_panels {background: #e9e9e9 !important;}

.header4.dark .mgmenu > li:nth-child(2) {  padding-right: 0px;}

.header4.dark ul > li { color: #EEEEEE !important; border:none;}

}




/* -------- HEADER 5 ----------*/

.Headerlogo2 .logo {  margin: 25px 0 10px;}

.header5  .mgmenu_container,
.header5 .mgmenu_fixed,
.header5 .mgmenu_footer {background-image:none; background-color: transparent;box-shadow: 0 1px 1px #B5B5B5; border: none;
border-radius:0px;box-shadow:none; padding:0px;}

.header5 .mgmenu {  float: right; margin: 23px 0;}

.header5 .mgmenu > li {    float: left;  margin: 0; border: none;}

.header5 .mgmenu > li > a,.header5 .mgmenu > li > span {  color: #fff;  display: block;  font-family: 'Open Sans',sans-serif;
    font-size: 15px;  outline: 0 none;   padding: 18px 20px 19px; font-weight: 500; text-shadow:none; text-transform: none;}

.header5 .mgmenu > li:hover,.header5  .mgmenu > li.active,.header5  .mgmenu > li.current { background: none repeat scroll 0 0 #353C3E !important;
    }
.header5 .mgmenu > li > span:hover,.header5  .mgmenu > li > a:hover,.header5  .mgmenu > li > a:focus,.header5  .mgmenu > li.current > a, .mgmenu > li.current > span {
    background: none repeat scroll 0 0 #353C3E !important;
    cursor: pointer;
    outline: medium none;
    text-shadow: none;
}

.header5 .mgmenu li .dropdown_container,.header5  .mgmenu li .dropdown_fullwidth,.header5  .mgmenu li .mgmenu_multilevel {background: #333; border-right-color:#555; border-left-color:#555; border-bottom-color:#555;}
.header5 .mgmenu .dropdown_flyout .dropdown_flyout_level {   -moz-border-bottom-colors: none;  -moz-border-left-colors: none;
    -moz-border-right-colors: none;   -moz-border-top-colors: none;   background: none repeat scroll 0 0 #333;
    border-color: #2376DE  #555 #555;    border-image: none;    border-radius: 3px;    border-right: 1px solid #555;    border-style: solid;
    border-width: 3px 1px 1px;    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05); width: 100%;}

.header5 .mgmenu .dropdown_flyout li { border-bottom: 1px solid #292929;  }

.header5 .mgmenu .dropdown_flyout a { color: #fff; text-shadow:none;}

.header5 .mgmenu a {  color: #fff;  text-decoration: none;}
.header5 .mgmenu a:hover {  color: #5DA9C5;  text-decoration: none;}

.header5 .WrapperToRight {right:0px !important;}


.header5 .mgmenu_tabs .mgmenu_tabs_panels {background: #333;}
.header5 .mgmenu_tabs .mgmenu_tabs_panels li {color: #fff; text-shadow:none; }

.header5 .mgmenu p, .header5 .mgmenu h1, .header5 .mgmenu h2, .header5 .mgmenu h3, .header5 .mgmenu h4, .header5 .mgmenu h5, .header5 .mgmenu h6 , .header5 .mgmenu ul > li{ color: #fff !important; text-shadow: none !important;}


.header5 .mgmenu_tabs li a.current,.header5  .mgmenu_tabs li a.current:hover { background:  #292929 !important;  color: #fff !important;    text-shadow:none;}



/* menu size like bootstrap container */
@media screen and (min-width: 783px) {

.header5 .mgmenu {max-width:750px;}
.header1 .WrapperToRight {right:0px;}

.WrapperToRight div {margin-bottom: 30px;}

}

@media (min-width:992px) {

.header5 .mgmenu {max-width:970px;}	

}

@media (max-width:992px) {
.header5 .mgmenu {
    float: none;
   margin-left: -30px;

 
}

}

@media (min-width:1200px){

.header5 .mgmenu{max-width:1170px;}

}






@media only screen and (max-width: 782px) {

.header5 .mgmenu > li:hover,.header5  .mgmenu > li.active,.header5  .mgmenu > li.current { background: none repeat scroll 0 0 #999 !important;
    color: #333;}
.header5 .mgmenu > li > span:hover,.header5  .mgmenu > li > a:hover,.header5  .mgmenu > li > a:focus,.header5  .mgmenu > li.current > a, .mgmenu > li.current > span {
    background: none repeat scroll 0 0 #fff !important;
    cursor: pointer;
    outline: medium none;
    text-shadow: none;
}


.header5 {
    margin-bottom: -12px;
}	
.Headerlogo2 {
    margin-bottom: 20px;
    text-align: center;
}

.header5 .mgmenu {
    float: none;
    margin: 0 -15px;
}

.header5 .mgmenu a { color: #333 !important;}
.header5 .mgmenu a:hover {color: #000 !important;}

	.header5 .mgmenu_container,
	.header5 .mgmenu_fixed,
	.header5 .mgmenu_footer {
		width:100% !important;
		height:auto;
		margin:0;
		position:relative;
		left:auto;
		top:auto;
		bottom:auto;
		background: #999;
		padding: 0px;
		max-width: none;
		box-shadow: none;
		color: #fff;
	}
.header5 	.mgmenu_footer {
	}
	.header5 .mgmenu_container .mgmenu > li,
	.header5 .mgmenu_fixed .mgmenu > li,
	.header5 .mgmenu_footer .mgmenu > li {
		float:none;
		width:auto;
		border:none;
		display: block;
		padding: 0;
	}
	.header5 .mgmenu > li > span,
	.header5 .mgmenu > li > a,
	.header5 .mgmenu > li.current > a, .mgmenu > li.current > span { display:block; background:#e9e9e9 !important; border-bottom:1px solid #e0e0e0 !important;}
	
	.header5 .mgmenu > li .mgmenu_drop {
			background-position:96% 19px;
		}

.header5 .mgmenu .dropdown_flyout li.last,.header5  .mgmenu .dropdown_flyout li:last-child {
    border: medium none;
}

.header5 .mgmenu li .dropdown_container, .header5 .mgmenu li .dropdown_fullwidth, .header5 .mgmenu li .mgmenu_multilevel {
    background-color: #e9e9e9; border-color: #e0e0e0; border-radius: 0px;
    border: none; }
.header5 .mgmenu .dropdown_flyout .dropdown_flyout_level {
    background: none repeat scroll 0 0 #e9e9e9; border:none;  outline: medium none;box-shadow: none;
    text-shadow: none;}

.header5 .mgmenu .dropdown_flyout li { border-bottom: 1px solid #e0e0e0;}



	.header5 .mgmenu > li > a, .mgmenu > li > span { padding: 18px 20px 19px !important;}

.header5 .mgmenu_container > .mgmenu > li.mgmenu_button,.header5 .mgmenu_fixed > .mgmenu > li.mgmenu_button,.header5 .mgmenu_footer > .mgmenu > li.mgmenu_button {
    background-color: #999;
    border: medium none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: none;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    line-height: 12px;
    padding: 20px 4% 40px !important;
    transition: none 0s ease 0s;
    width: 100%;
}


	.header5 .mgmenu .col_border {
		box-shadow:none;
	}



.header5 .mgmenu p, .header5 .mgmenu h1, .header5 .mgmenu h2, .header5 .mgmenu h3, .header5 .mgmenu h4, .header5 .mgmenu h5, .header5 .mgmenu h6 , .header5 .mgmenu ul > li{ color: #333 !important; text-shadow: none !important;}

.header5 .mgmenu_tabs li a.current,.header5 .mgmenu_tabs li a.current:hover {
    background: #ddd !important;  color: #333 !important;}

.header5 .mgmenu li > .mgmenu_tabs { border: medium none !important; }
.header5 .mgmenu > li:last-child { border-right: none;}

.header5 .mgmenu > li {border-left: none;}

.header5 .mgmenu hr { border-color: #ddd;}

.header5 .mgmenu_tabs .mgmenu_tabs_panels {background: #e9e9e9 !important;}

.header5 .mgmenu > li:nth-child(2) {  padding-right: 0px;}

.header5 ul > li { color: #EEEEEE !important; border:none;}



}




